<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4">

    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    </head>

    <div class="container-fluid">
        <a class="navbar-brand fw-bold" routerLink="/">DC</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a routerLink="/about" routerLinkActive="active" class="nav-link">Sobre mí</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/portfolio" routerLinkActive="active" class="nav-link">Portafolio</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/blog" routerLinkActive="active" class="nav-link">Blog</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/contact" routerLinkActive="active" class="nav-link">Contacto</a>
                </li>
                <a href="https://www.linkedin.com/in/daniel-cardona-29438b234/" target="_blank" rel="noopener noreferrer"
                    class="btn btn-outline-light ms-2">
                    <i class="bi bi-linkedin"></i>
                </a>


            </ul>
        </div>
    </div>
</nav>