

<div class="container py-5">
  <h2 class="text-center mb-5 text-white">Proyectos Destacados</h2>

  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    <!-- Tarjeta 1 -->
    <div class="col">
      <div class="card h-100 bg-dark text-white border border-light">
        <img src="assets/img/Eliseofoundation.jpg" alt="Eliseofoundation_Website" />
        <div class="card-body">
          <h5 class="card-title">Sitio web de fundación Eliseo</h5>
          <p class="card-text">Es el sitio web de una fundación de ayuda psicológica, la cual contiene cuatro secciones:
            Inicio, Quienes somos, Blog y Donaciones. En él se ofrece información de interés mediante carruseles
            acumulados y se crea el registro de donantes para la fundación.
            Las tecnologías utilizadas fueron React y Bootstrap.
          </p>
        </div>
        <div class="card-footer text-center">
          <a href="https://github.com/DanielCardonaRivera/Eliseofoundation_Website" target="_blank"
            class="btn btn-outline-light">Ver en GitHub</a>
        </div>
      </div>
    </div>

    <!-- Tarjeta 2 -->
    <div class="col">
      <div class="card h-100 bg-dark text-white border border-light">
        <img src="assets/img/CRC.jpg" class="card-img-top" alt=" CRC_Website">
        <div class="card-body">
          <h5 class="card-title">Sitio web de CRC</h5>
          <p class="card-text">Tienda online elegante especializada en chaquetas. Hecho con Angular</p>
        </div>
        <div class="card-footer text-center">
          <a href="https://github.com/DanielCardonaRivera/CRC_Website" target="_blank" class="btn btn-outline-light">Ver
            en GitHub</a>
        </div>
      </div>
    </div>
    <!-- Tarjeta 3 -->
    <div class="col">
      <div class="card h-100 bg-dark text-white border border-light">
        <img src="assets/img/RLouise.jpg" class="card-img-top" alt="RLouise_Website">
        <div class="card-body">
          <h5 class="card-title">Sitio web RLouise</h5>
          <p class="card-text">Sitio moderno para venta de pijamas femeninas. Responsive y amigable, hecho con React</p>
        </div>
        <div class="card-footer text-center">
          <a href="https://github.com/DanielCardonaRivera/RLouise_Website" target="_blank"
            class="btn btn-outline-light">Ver en GitHub</a>
        </div>
      </div>
    </div>

  </div>
</div>